@import '../../Styles/media';
@import '../../Styles/mixins';

.main {
  position: relative;
  min-height: 90vh;
  margin: 0 auto;
  padding-top: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 5;

  .main_header {
    font-size: 40px;
    margin-top: 90px;
    font-family: $font;

    @include _1200{
      font-size: 35px;
      margin-top: 80px;
    }
    @include _992{
      font-size: 30px;
      margin-top: 75px;
    }
    @include _767{
      font-size: 25px;
      margin-top: 75px;
    }
  }

  .adaptive_form {
    @include MwMhFz(700px, 600px, 15px);
    margin-bottom: 40px;
    padding:0 10px;

    @include _1200{
      @include MwMhFz(650px, 550px, 14px);
      margin-bottom: 35px;
    }
    @include _992{
      @include MwMhFz(550px, 450px, 13px);
      margin-bottom: 30px;
    }
    @include _767{
      @include MwMhFz(430px, 400px, 12px);
      margin-bottom: 25px;
    }
    @include _450{
      @include MwMhFz(330px, 400px,12px);
    }
    @include _350{
      @include MwMhFz(260px, 400px,12px);
    }
  }

  .top {
    margin-top: 50px;
  }

  .bottom {
    margin-bottom: 40px;
  }
  .small{
    @include _350{
      font-size: 8px;
    }
  }
}

.alertTextRed {
  position: absolute;
  color: red;
}

.alertTextGreen {
  position: absolute;
  color: green;
}
