@import '../../Styles/media';
@import '../../Styles/mixins';

.main {
  position: relative;
  min-height: 90vh;
  margin: 0 auto;
  padding-top: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 5;

  .main_header {
    font-size: 40px;
    margin-top: 90px;
    font-family: $font;

    @include _1200{
      font-size: 35px;
      margin-top: 80px;
    }
    @include _992{
      font-size: 30px;
      margin-top: 75px;
    }
    @include _767{
      font-size: 25px;
      margin-top: 75px;
    }
  }

  .adaptive_form {
    max-width: 700px;
    max-height: 600px;
    margin-bottom: 40px;
    font-size: 15px;
    padding: 0 10px;

    @include _1200{
      font-size: 14px;
      max-width: 650px;
      max-height: 550px;
      margin-bottom: 35px;
    }
    @include _992{
      font-size: 13px;
      max-width: 550px;
      max-height: 450px;
      margin-bottom: 30px;
    }
    @include _767{
      font-size: 12px;
      max-width: 450px;
      max-height: 400px;
      margin-bottom: 25px;
    }
  }

  .top {
    margin-top: 50px;
  }

  .bottom {
    margin-bottom: 40px;
  }

}
