@mixin auth($disp, $wdt, $hgh, $bg, $mgn, $br) {
  display: $disp;
  width: $wdt;
  height: $hgh;
  background: $bg;
  margin: $mgn;
  border-radius: $br;
}

@mixin BgBbBt($bg, $bb, $br) {
  background: $bg;
  border-bottom: $bb;
  border-radius: $br;
}

@mixin WdthBr($wd, $br) {
  width: $wd;
  border: $br;
}

@mixin DsAiFd($ds, $ai, $fd) {
  display: $ds;
  align-items: $ai;
  flex-direction: $fd;
}

@mixin PosWdHg($pos, $wdt, $hgh, $zi) {
  position: $pos;
  width: $wdt;
  height: $hgh;
  z-index: $zi;
}

@mixin MwMhFz($Mw, $Mh, $Fz) {
  max-width: $Mw;
  max-height: $Mh;
  font-size: $Fz;
}

@mixin WdHgPtFz($wd, $hg, $pt, $fz){
  width: $wd;
  height: $hg;
  padding-top: $pt;
  font-size: $fz;

}

$font : 'Amatic SC', cursive;
