@import '../../Styles/media';
@import '../../Styles/mixins';

.user-list {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border:3px;
  height: 100%;
}
.users-list__container {
  @include DsAiFd(flex, center, row);
  padding-top: 90px;
  margin: 0 auto;
  max-width: 1100px;
  max-height: 100vh;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 10;

  @include _1200{
    max-width: 1000px;
  }
  @include _992{
    max-width: 850px;
  }
  @include _767{
    max-width: none;
  }
  .users-list__search__no-result {
    @include WdHgPtFz(500px, 400px, 120px, 30px);
    margin: 50px auto;
    background-image: url(../../Images/smile-bad.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: #10130f;

    @include _1200{
      @include WdHgPtFz(400px, 300px, 110px, 28px);
    }
    @include _992{
      @include WdHgPtFz(350px, 250px, 90px, 25px);
    }
    @include _767{
      @include WdHgPtFz(300px, 200px, 70px, 20px);
    }
  }
  .aditional{
    width:350px;
    min-height:260px;
    margin:0 auto;

    @include _1200{
      width: 330px;
    }
    @include _992{
      width: 300px;
    }
    @include _767{
      width: 250px;
    }
  }
}

@media (hover: hover) {
  .aditional:hover {
    border: 3px solid rgb(40, 204, 40) !important;
  }
}