@import '../../Styles/media';
@import '../../Styles/mixins';

.popup {
  @include PosWdHg(fixed, 100%, 100vh, 10);
  box-sizing: border-box;
  border: 3px;

  .popup_bg {
    width: 100% ;
    height:100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 20;
  }

  .popup_body {
    @include PosWdHg(relative, 100%, 100%, 25);
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include _1200{
      margin-top: 55px;
    }
    @include _992{
      margin-top: 50px;
    }
    @include _767{
      margin-top: 40px;
    }

    .popup_content {
      @include PosWdHg(relative, 600px, 300px, 30);
      background-color: #fff;
      color: black;
      box-shadow:inset 0 0 5px;
      border-radius: 15px;

      @include _1200{
        width:550px;
        height: 300px;
      }
      @include _992{
        width:450px;
        height: 250px;
      }
      @include _767{
        width:350px;
        height: 210px;
      }

      .popup_content_header{
        height:50px;
        width:100%;
        background-color: rgb(102, 110, 119);
        border-bottom: 3px black solid;
        border-radius:15px 15px 0 0;

        .popup_close {
          position: absolute;
          right:10px;
          top: 10px;
          font-size: 20px;
          cursor: pointer;
        }
      }

      .popup_content_body{
        position: relative;
        min-height: 80%;
        display: flex;
        flex-direction: row;
        padding: 20px 20px;

        .modal_photo{
          min-width: 35%;
          min-height:70%;
          background-image: url(../Images/avatar.jpg);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }

        .modal_content_info{
          @include DsAiFd(flex, flex-start, column);
          justify-content: center;
          margin-left: 40px;

          .modal_info_nickname{
            width:100%;
            font-size: 24px;
            font-family: $font;
            margin-bottom: 10px;
            @include _1200{
              font-size: 23px;
            }
            @include _992{
              font-size: 19px;
            }
            @include _767{
              font-size: 17px;
            }
          }

          .modal_info_name{
            width:100%;
            font-size: 18px;
            font-family: $font;
            @include _1200{
              font-size: 17px;
            }
            @include _992{
              font-size: 16px;
            }
            @include _767{
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}