@import '../../Styles/media';
@import '../../Styles/mixins';

.addButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px auto;

  .pad {
    margin-left: 10px;
  }
  .mwForm {
    max-width:300px;
    @include _1200{
      @include MwMhFz(230px, 45px, 15px);
    }
    @include _992{
      @include MwMhFz(160px, 40px, 13px);
    }
    @include _767{
      @include MwMhFz(120px, 35px, 12px);
    }
  }
  .mw {
    @include MwMhFz(250px, 50px, 15px);
    padding: 5px 2px;

    @include _1200{
      @include MwMhFz(230px, 44px, 13px);
    }
    @include _992{
      @include MwMhFz(160px, 40px, 11px);
    }
    @include _767{
      @include MwMhFz(80px, 35px, 10px);
    }
  }
}